<html>
  <head>
    <title>Solo MVP</title>
  </head>
<body ng-app='happyDay' ng-controller='DayController as dayCtrl'>

<h1>HappyTracker</h1>

<div >
  <form class='submitDReview' name='submitDReview' ng-submit="dayCtrl.addReview()">
    <textarea ng-model="dayCtrl.newDayReview.summary" placeholder="Tell me about your HappyDay!"></textarea>
    <select ng-model="dayCtrl.newDayReview.stars" ng-options="stars for stars in [5,4,3,2,1]" title="Stars">
          <option value>Rate the Product</option>
    </select>
    <input type="submit">
  </form>
</div>

<h1>Current Review</h1>
<div ng-hide="dayCtrl.newDayReview.length === 0">
  {{dayCtrl.newDayReview.stars}} Stars - <br> 
  {{dayCtrl.newDayReview.summary}}
</div>

  
<div class="happyDayReviews">
<h1>HappyDays Reviews</h1>
  <ul>
    <li ng-repeat="review in dayCtrl.reviews">{{review.stars}} Stars -  {{review.text}}</li>
  </ul>
</div>

<div class="DayAverage">
<h1>HappyDays Star Average - {{dayCtrl.avg}}</h1>
  <button ng-click="dayCtrl.starAvg()">Click Me!</button>
</div>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  <script src="https://cdn.firebase.com/js/client/2.2.2/firebase.js"></script>
  <script src="https://cdn.firebase.com/libs/angularfire/1.0.0/angularfire.min.js"></script>

  <script src='happyDay.js'></script>

</body>
</html>